#content .sf_admin_list table tbody tr.sf_admin_row td.sf_admin_list_td_list_description {
  padding: 0;
}
#content .sf_admin_list table tbody tr.sf_admin_row td.sf_admin_list_td_list_description div {
  height: 100%;
  margin: 0;
  padding: 8px 4px;
  text-align: center;
}

select[disabled] {
  color: #444;
}
